

body.boxed [class*='col-'] {
    border: solid 1px white;
    color: white;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}


body.boxed [class*='-min'] {
    height: 30px;
    background-color: green;
}


